body,
div,
header,
html,
i,
img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}
body {
    line-height: 1;
}
header {
    display: block;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}
input,
select {
    vertical-align: middle;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Rubik, sans-serif;
}
.container-fluid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.top-header {
    min-height: 36px;
    background: #edebef;
}
.brand-logo {
    display: flex;
    align-items: center;
}
.editor-btn {
    width: 100%;
    background: #f7cc4e;
    border: 1px solid #f7cc4e;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 3px;
    display: block;
    text-decoration: none;
    margin-left: 15px;
    font-size: 12px;
    color: #283237;
    font-weight: 500;
}
.Search-box {
    display: flex;
    align-items: center;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #4b3461;
    background-image: none;
}
select::-ms-expand {
    display: none;
}
.select {
    position: relative;
    display: flex;
    min-width: 100px;
    height: 27px;
    line-height: 3;
    background: #4b3461;
    overflow: hidden;
    border-radius: 0.25em;
    font-size: 14px;
}
select {
    flex: 1;
    padding: 0 0.5em 0 0.8rem;
    color: #fff;
    cursor: pointer;
}
.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #4b3461;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
    color: #fff;
    border-left: 1px solid #fff;
    font-size: 10px;
}
.select:hover::after {
    color: #f39c12;
}
.topbar-search {
    width: 297px;
    font-weight: 500;
    border: 1px solid #000;
    color: #0f0a13;
    font-size: 14px;
    border-radius: 3px;
    height: 35px;
    padding: 0 12px;
    margin-right: 10px;
    background: #edebef;
}
.dropdown > button:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background: #edebef;
    top: 0;
}
.dropdown {
    position: relative;
}
.select::before {
    content: "";
    position: relative;
    height: 14px;
    width: 14px;
    background: url(../assets/images/box.png);
    background-size: 100% 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    mix-blend-mode: lighten;
}
.select_one:hover::before 
{
content: "before";
color:#f39c12;
}
.select_one::before:hover{
color:#f39c12;
}

.dropbtn {
    color: #4b3461;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-profile {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -108px;
}
.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown-profile:hover .dropdown-content {
    display: block;
}
/* 28/02/2022 */
.select_one {
    position: relative;
    display: flex;
    min-width: 77px;
    height: 27px;
    line-height: 3;
    background: #4b3461;
    overflow: hidden;
    border-radius: 0.25em;
    font-size: 14px;
}

.editor-btn_one {
    width: 100%;
    border: 1px solid#398123;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 3px;
    display: block;
    text-decoration: none;
    margin-left: 15px;
    font-size: 12px;
    color: #398123;
    font-weight: 500;
}
.select_one:hover::after {
    color: #f39c12;
}
.select_one::before {
    content: "";
    position: relative;
    height: 10px;
    width: 12px;
    background: url(../assets/images/Group.png);
    background-size: 100% 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    mix-blend-mode: lighten;
}
span.share {
    color: white!important;
}
.select_one::after {
    content: "share";
    position: relative;
    height: 14px;
    width: 14px;
    background-size: 100% 100%;
    top: 0%;
    color:white;
    transform: translateY(-50%);
    left: 12px;
    mix-blend-mode: lighten;
}

.hvr-grow-shadow:hover {
    background-color: #398123;
    color:white;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-glow:hover {
    background-color: transparent;
    color:black;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
